doctype html
html(lang="ko")
	head
		include ./inc/header.pug

	body
		include ./inc/navi.pug
		.container.my-3
			.jumbotron
				.h2= `${title}`
			table.table.table-bordered.table-hover.my-3.text-center
				colgroup
					col(width="8%")
					col(width="10%")
					col(width="15%")
					col(width="40%")
					col(width="10%")
				thead.thead-dark
					tr
						th 번호
						th 작성자
						th 작성일
						th 한마디
						th 비고
				tbody
					each item in datas
						tr
							td= item.id
							td= item.writer
							td= item.wtime
							td.text-left= item.comment
							td
								button.btn.btn-info.btn-sm.mr-1 수정
								button.btn.btn-danger.btn-sm 삭제

			include ./inc/pager.pug		
					//- pug가 가지고있는 each loop / JS의 for of 와 같다.
					//- 배열 datas를 돌면서 결과를 item에 넣어서 td에 넣어서 return 
		include ./inc/footer.pug
		include ./inc/script.pug

