doctype html
html(lang="ko")
	head
		include ./inc/header.pug
	body
		include ./inc/navi.pug
		.container.my-5
			.jumbotron.mb-5
				h2= `${title}`
			table.table.text-left.memlist-table.mb-5
				colgroup
					col(width="5%")
					col(width="8%")
					col(width="13%")
					col(width="13%")
					col(width="15%")
					col
					col(width="12%")
				thead
					tr
						th No.
						th 등급
						th 아이디
						th 이름
						th 전화번호
						th 주소
						th 관리
				tbody
					each item in lists
						tr
							td= item.id
							td= item.grade
							td= item.userid
							td= item.username
							td= item.tel
							td.text-left
								span= "["+item.post+"]"
								br
								span= item.add1, item.add2
							td
								if item.grade < 9
									button.btn.btn-sm.bt-remove(onclick=`if(confirm('정말로 삭제하시겠습니까?')){location.href='/mem/remove?id=${item.id}';}`)
										i.fas.fa-times
			include ./inc/pager.pug
		include ./inc/footer.pug
		include ./inc/script.pug

